.*
exanic-*.tar.gz
doc/*.odt
doc/*.pdf
src/docs/*
!.gitignore
*~

tags
*.tgz
*.o
*.ko
*.a
*.so
*.symvers
*.order
*.mod.c

examples/*/*
!examples/*/*.c
!examples/*/*.h
!examples/*/*.txt
!examples/*/*Makefile*

util/*
!util/*.c
!util/*.h
!util/*.txt
!util/*Makefile*
